.wrapper{
  @apply fixed z-10 inset-0 flex place-items-center place-content-center	;
}
.modalBg{
  @apply z-10 absolute inset-0 bg-black bg-opacity-50 backdrop-blur-sm;
}
.modal{
  @apply z-20 p-4 rounded-lg bg-white w-10/12 lg:w-4/12 shadow-md;
  hr{
    @apply my-4 border-gray-300;
  }
}
.modalTitle{
  @apply text-2xl text-gray-600 font-semibold;
}
